body {
  height: 100vh;
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
}
#one {
  background-color: wheat;
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border: 3px solid black;
}
#two {
  background-color: teal;
  height: 50px;
  width: 150px;
  border: 3px dotted white;
}
.insmall {
  background-color: teal;
  height: 50px;
  width: 50px;
  border: 3px solid white;
}
